[submodule "Expanding-cards"]
	path = Expanding-cards
	url = https://github.com/sergiogval/Expanding-cards
[submodule "mobile-menu"]
	path = mobile-menu
	url = https://github.com/sergiogval/mobile-menu
[submodule "progress-steps"]
	path = progress-steps
	url = https://github.com/sergiogval/progress-steps
[submodule "search-icon-expandible"]
	path = search-icon-expandible
	url = https://github.com/sergiogval/search-icon-expandible
[submodule "blurry-loading"]
	path = blurry-loading
	url = https://github.com/sergiogval/blurry-loading
[submodule "scroll-animation"]
	path = scroll-animation
	url = https://github.com/sergiogval/scroll-animation
[submodule "split-landing-page"]
	path = split-landing-page
	url = https://github.com/sergiogval/split-landing-page
[submodule "form-input-wave"]
	path = form-input-wave
	url = https://github.com/sergiogval/form-input-wave.git
